body{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    line-height: 3px;
}
#EveryHue{
    font-size: 50px;
    margin-bottom: 3pc;
}