
body{
    width: min(100%, 1200px);
    margin: auto;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
    height: 25px;
    background-color: #bb7621;
    margin: none;
    width: 100%;
    display: flex;
    flex-direction: row;
}
header{
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    line-height: 3px;
}
#EveryHue{
    font-size: 300%;
    margin-bottom: 3pc;
    letter-spacing: 1pc;
}
#aptmt-setup{
    width: 220px;
    padding: 8px;
    border: none;
    border-radius: 10px;
    background-color: #692904;
    color: white;
    font-size: 14px;
}
#aptmt-setup:hover{
    background-color: #b04c12;
}

main{
    margin: 25px;
    display: flex;
    flex-grow: column wrap;
}
section{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-content: left;
    padding: 5px;
    padding-left: 10px;
}
.row{
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    height: 8pc;
}
.row img{
    width: 7pc;
    border-radius: 20px;
    box-shadow: rgba(4, 1, 46, 0.271) 5px 10px 15px ;
}